node_modules
.next
.env
.env.local
.env.production
dist
coverage
*.log
postgres-data
*.db
*.db-journal
*.db-shm
*.db-wal
data/*
!data/.gitkeep
prisma/data/*
!prisma/data/.gitkeep
backups/

release/
tsconfig.tsbuildinfo
